@use '../helpers/index' as *;
.aboutUs{
  padding: fluid(40,20) 0;
  &__wrap{
    display: flex;
    flex-direction: column;
    gap: rem(16);
    @include media(lg){
      flex-direction: row;
      gap: rem(60);
    }
  }
  &__left{
    max-width: 100%;
    width: 100%;
    @include media(lg){
      max-width: 66%;
      width: 66%;
    }
  }
  &__right{
    max-width: 100%;
    width: 100%;
    @include media(lg){
      max-width: 34%;
      width: 34%
    }
  }

  h2{
    font-size: fluid(32,26);
    max-width: 100%;
    padding-top: 1rem;
    @include media(lg){
      max-width: 80%;
    }
  }
  &__desc{
    max-width: 100%;
    @include media(lg){
      max-width: 70%;
    }
    *{
      margin-bottom: rem(16);
    }
  }

  &__form{
    background: var(--white);
    padding: fluid(40,20);
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    h3{
      font-size: fluid(20,18);
      color: var(--accent);
      line-height: 120%;
      margin-bottom: rem(16);
      span{
        color: var(--black);
      }
    }
    .sub{
      color: var(--gray);
      font-size: 1rem;
      line-height: 150%;
      display: inline-block;
      margin-bottom: fluid(24,18);
    }
  }
}