@use '../helpers/index' as *;
.services__modal{
  .modal {
    @include media(md){
      max-width: rem(600);
    }
  }

  &--title{
    font-size: fluid(32,24);
    color: var(--black);
    max-width: 100%;
    margin-bottom: fluid(32,24);
    @include media(xs){
      max-width: 70%;
    }
  }
  &--content{
    font-size: rem(16);
    line-height: 150%;
    color: var(--gray);
    margin-bottom: fluid(40,20);
    padding-bottom: fluid(40,20);
    border-bottom: 1px solid #ddd;
  }

  &--footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(16);
    @include media(xs){
      align-items: center;
      flex-direction: row;
    }
    > div{
      flex: 1;
    }
    h4,span{
      font-size: fluid(20,18);
      font-family: var(--font-family);
    }
    h4{
      color: var(--black);
    }
    span{
      color: var(--accent);
    }
  }

}

.contact__modal{
  h3{
    font-size: fluid(20,18);
    color: var(--black);
    max-width: 100%;
    margin-bottom: fluid(32,24);
    span{
      color: var(--accent);
    }
  }
}