@use '../helpers/index' as *;
.services{
  padding-top: fluid(80,40);
  padding-bottom: fluid(40,20);
  &__head{
    text-align: center;
    max-width: rem(887);
    margin: 0 auto;
    &--text{
      max-width: rem(640);
      margin: 0 auto;
      line-height: 140%;
      margin-bottom: fluid(56,32);
    }

  }
  &__slider{
    width: 100vw;
    overflow: hidden;
    user-select: none;
    touch-action: pan-y;
    margin-bottom: fluid(40,20);
    .slider-track {
      display: flex;
      gap: rem(16);
      will-change: transform;
      transition: box-shadow 0.2s;
      user-select: none;
      @include  media(sm){
        gap: rem(24);
      }
    }

    .slider-item {
      min-width: 220px;
      max-width: 300px;
      width: 70vw;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      transition: transform 0.15s;
      position: relative;
      cursor: pointer;
      @include  media(sm){
        min-width: 260px;
        width: 260px;
      }
      @include  media(lg){
        min-width: 320px;
        width: 320px;
      }
      @include media(rxwd){
        min-width: 25vw;
        width: 25vw;
      }


      &:after{
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(0, 30, 46, 0) 0%, rgba(0, 30, 46, 0.9) 100%);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include  media(sm){
          height: 170px;
        }
        @include  media(lg){
          height: 190px;
        }
        @include media(rxwd){
          height: 250px;
        }
        @media (min-width: 1925px) {
          height: 400px;
        }
      }
      .slider-title {
        transition: transform 0.15s;
        position: absolute;
        bottom: rem(16);
        left: rem(16);
        z-index: 2;
        max-width: 80%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: fluid(20,16);
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--white);
      }
      &:hover {
        .slider-title {
          transform: translateY(-20px)  rotateX(7deg);
        }
      }
      .open-service{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__btn{
    text-align: center;
    margin-top: fluid(40,20);
    .btn{
      display: inline-block;
    }
  }
}