@font-face {
  font-family: 'Furore';
  src: url('../fonts/furore/Furore.woff2') format('woff2'),
  url('../fonts/furore/Furore.woff') format('woff'),
  url('../fonts/furore/Furore.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight/InterTight-Regular.woff2') format('woff2'),
  url('../fonts/InterTight/InterTight-Regular.woff') format('woff'),
  url('../fonts/InterTight/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}