@use '../helpers/index' as *;
.modal-window {
    position: fixed;
    inset: 0; // top:0; right:0; bottom:0; left:0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(24px);
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 150;
    }

    .modal-backdrop {
      position: fixed;
      inset: 0;
      background: rgba(22, 28, 37, 0.5);
      cursor: pointer;
      z-index: 1;
      transition: background 0.3s;
    }

    .modal {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 90vw;
      max-height: 90vh;
      padding: fluid(40,20) fluid(55,30);
      margin: 1rem;
      background: #f1f1f1;
      box-shadow: 0 8px 32px rgba(0,0,0,0.15), 0 2px 8px rgba(0,0,0,0.07);
      overflow-y: auto;
      transition: box-shadow 0.3s, clip-path 0.3s;
      backdrop-filter: blur(8px);
      @include media(md){
        max-width: rem(400);
      }
    }

    .modal-close {
      position: absolute;
      right: rem(8);
      top: rem(8);
      z-index: 2;
      cursor: pointer;
      background: transparent;
      border: none;
      &:hover {
       svg{
         path{
           fill: var(--black);
         }
       }
      }
    }
}
